body {
  background: linear-gradient(to right, Green, black); 
}

.container {
  width: 80%; /* Ancho total */
  margin: 0 auto; /* Centrar horizontalmente */
  min-height: 80vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex; /* Usamos flexbox para organizar el contenido */
  flex-direction: column; /* Organiza el contenido en dirección vertical */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra los elementos horizontalmente */
}

.button {
  background-color: #27ae60; /* Verde oscuro */
  color: white; /* Letra blanca */
  padding: 10px 20px; /* Espaciado interior */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de letra */
  margin-bottom: 10px; /* Espaciado entre botones */
}
